<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col">
          <hr>
        </div>
        <div class="col-auto">
          <h4 class="text-capitalize">Il mio Carrello</h4>
        </div>
        <div class="col">
          <hr>
        </div>
      </div>


      <div class="row">
        <div class="col"></div>
        <div class="col-sm-auto mt-4">
          <table class="table table-striped border border-3">
            <tbody>


              <!-- Pizze -->
              <tr class="p-3" *ngFor="let c of cart">
                <td><img [src]="c.image" class="cart-pizza" alt="{{ c.name }}"></td>
                <td>
                  <b class="text-capitalize">{{c.name}}</b> <span class="badge bg-warning text-dark ms-2" *ngIf="c.vegetarian">🌱</span> <span class="badge bg-danger ms-2" *ngIf="c.spicy">🌶️</span><br>
                  <span class="text-secondary">€{{c.price}}</span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <label for="qty-{{c.id}}" class="me-2">Quantità:</label>
                    <input type="text" id="qty-{{c.id}}" class="form-control input-number" [value]="c.qty" min="1" max="100" readonly>
                  </div>
                </td>
                <td>
                  <span class="fw-bold text-danger">Tot. €{{c.qty * c.price}}</span>
                </td>
                <td></td>
              </tr>


              <!-- Sfizi modernizzati -->
              <tr class="p-3 bg-light" *ngFor="let t of toppingsCart">
                <td><img [src]="t.image" class="cart-pizza" alt="{{ t.name }}"></td>
                <td>
                  <b class="text-capitalize">{{t.name}}</b> <span class="badge bg-info text-dark ms-2">Sfizio</span><br>
                  <span class="text-secondary">€{{t.price}}</span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <label for="qty-{{t.id}}" class="me-2">Quantità:</label>
                    <input type="text" id="qty-{{t.id}}" class="form-control input-number" [value]="t.qty" min="1" max="100" readonly>
                  </div>
                </td>
                <td>
                  <span class="fw-bold text-danger">Tot. €{{t.qty * t.price}}</span>
                </td>
                <td></td>
              </tr>


              <tr>
                <td colspan="5">
                  <span class="float-end">Subtotale:&nbsp; &#8364;{{total + toppingtotal}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>


    <div class="col-md-4 mtop">
      <div class="card border border-3">
        <div class="card-header">
          <h5>Dettagli Ordine</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Pizza <span class="float-end">&#8364;{{total}}</span></li>
            <li class="list-group-item">Sfizi <span class="float-end">&#8364;{{toppingtotal}}</span></li>
          </ul>
        </div>
        <div class="card-footer">Totale Pagamento: <b class="float-end">&#8364;{{total + toppingtotal}}</b></div>
      </div>
      <div class="row">
        <div class="col-6 mt-3 text-center">
          <button type="button" class="btn btn-warning w-100" (click)="paylo()">Paga</button>
        </div>
        <div class="col-6 mt-3 text-center">
          <button type="button" class="btn btn-dark w-100" (click)="clear()">Svuota</button>
        </div>
      </div>
    </div>
  </div>
</div>



