<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-pizza shadow-lg py-3">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/home">
        <img src="assets/PizzeriaLogo.jpg" alt="Logo Pizzeria" class="navbar-logo me-2">
        <span class="brand-title">Franvittore</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/order">Ordina la tua Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/build">Aggiungi uno Sfizio</a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center gap-2">
          <li class="nav-item">
            <button type="button" class="btn btn-warning btn-cart d-flex align-items-center" routerLink="/cart">
              <i class="fa fa-shopping-cart me-1"></i> Carrello
              <span class="badge rounded-pill bg-light text-dark ms-2">{{count}}</span>
            </button>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="btn btn-outline-light btn-login ms-2 px-4">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Contenuto dinamico -->
  <div>
    <router-outlet></router-outlet>
  </div>

  <footer class="text-center text-danger bg-dark p-1 mt-2 rounded">
