<div class="container-fluid container-pizza">
  <!-- Titolo più grande -->
  <h2 class="order-title fs-1" style="text-align: center;">Ordina la tua pizza!</h2>
  <p class="order-subtitle fs-4" style="text-align: center;">Scegli tra una varietà di pizze, tutte preparate con ingredienti freschi e genuini. Clicca sulla pizza per aggiungerla al tuo ordine!</p>
   
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let pizza of pizzas">
      <div class="card h-100">
        <img [src]="pizza.image" class="card-img-top" [alt]="pizza.name">
        <div class="card-body">
          <h5 class="card-title fs-3">{{pizza.name}}</h5>
          <p class="card-text fs-5">{{pizza.description}}</p>
          <p class="fs-4">€ {{pizza.price}}</p>
          <button class="btn btn-warning fs-5 d-flex align-items-center gap-2" (click)="addToCart(pizza)">
            <i class="fa fa-shopping-cart"></i> Aggiungi al carrello
          </button>
        </div>
      </div>
    </div>
  </div>
</div>